.main-div{
    background-color: bisque;
    height: 400px;
    width: 100%;

}

.product-color{
    color:black;
    font-size: large;
    font-weight: bold;

}

.para-desc{
    background-color: aliceblue;
    font-size: x-large;
    font-style: italic;
}

