<div class ="main-div">
  <h3>{{companyTitle}}</h3>
  <input type = "text" [(ngModel)]="productDisc" />
  <br/>
  <h3>Hi following is product discription:{{productDisc}}</h3>
  <h3 [style.color] = "red">Style Binding </h3>
  <p [class]="paraDesc">This is really long text that exist from the ancient days. In ancient days human being used to live caves.</p>

  <p [innerHTML] = "innerData"></p>
  <button [disabled] = isDisable>Click to submit</button>

  <button (click) = "alertUser()">Event Binding Button</button>
</div>



<router-outlet></router-outlet>
