<mat-form-field appearance="fill">
  <mat-label>Input</mat-label>
  <input matInput />
</mat-form-field>
<br /><br /><br /><br />

<mat-form-field appearance="outline" floatLabel="always">
  <mat-label>Textarea</mat-label>
  <textarea matInput placeholder=" Product Description!"></textarea>
</mat-form-field>

<div class="example-button-row">
    <button mat-fab color="primary">Basic</button> <br/>
    <button mat-button color="primary">Primary</button>
    <button mat-button color="accent">Accent</button>
    <button mat-button color="warn">Warn</button>
    <button mat-button disabled>Disabled</button>
    <a mat-button href="https://www.google.com/" target="_blank">Link</a>
  </div>

<!-- <div>
  <form>
    <mat-form-field appearance="outline">
      <mat-label color="blue">Textarea</mat-label>
      <textarea matInput></textarea>
    </mat-form-field><br/>

  </form>
</div>

<div>
  <button mat-raised-button color="raised">Add Product</button><br />
  <mat-form-field appearance="fill">
    <input matInput />
  </mat-form-field>
</div> -->

<!-- 
<router-outlet></router-outlet> -->





 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 